html, body, #address-canvas {
  height: 100%;
  margin-top: 30px;
  padding: 0px
}

#panel {
  position: absolute;
  top: 5px;
  /*left: 50%;
  margin-left: -180px;*/
  margin: 0 auto;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}

#latlng {
  width: 225px;
}